<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJy9ZrbMlCbF_yNq-7NcY_v1PwoD8M5FU</string>
	<key>GCM_SENDER_ID</key>
	<string>102756319116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skincareLogger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skincare-logger</string>
	<key>STORAGE_BUCKET</key>
	<string>skincare-logger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102756319116:ios:b9045f7bc08caef482a0a9</string>
</dict>
</plist>